<ion-footer>
  <ion-toolbar>
    <footer class="footer" data-section>
      <div class="container">
  
        <div class="footer-top">
  
          <ul class="footer-list">
  
            <li>
              <p class="footer-list-title">Company</p>
            </li>
  
            <li>
              <p class="footer-list-text">
                Find a location nearest you. See <a href="#" class="link">Our Stores</a>
              </p>
            </li>
  
            <li>
              <p class="footer-list-text bold">+391 (0)35 2568 4593</p>
            </li>
  
            <li>
              <p class="footer-list-text">hello@domain.com</p>
            </li>
  
          </ul>
  
          <ul class="footer-list">
  
            <li>
              <p class="footer-list-title">Useful links</p>
            </li>
  
            <li>
              <a href="#" class="footer-link">New Products</a>
            </li>
  
            <li>
              <a href="#" class="footer-link">Best Sellers</a>
            </li>
  
            <li>
              <a href="#" class="footer-link">Bundle & Save</a>
            </li>
  
            <li>
              <a href="#" class="footer-link">Online Gift Card</a>
            </li>
  
          </ul>
  
          <ul class="footer-list">
  
            <li>
              <p class="footer-list-title">Infomation</p>
            </li>
  
            <li>
              <a href="#" class="footer-link">Start a Return</a>
            </li>
  
            <li>
              <a href="#" class="footer-link">Contact Us</a>
            </li>
  
            <li>
              <a href="#" class="footer-link">Shipping FAQ</a>
            </li>
  
            <li>
              <a href="#" class="footer-link">Terms & Conditions</a>
            </li>
  
            <li>
              <a href="#" class="footer-link">Privacy Policy</a>
            </li>
  
          </ul>
  
          <div class="footer-list">
  
            <p class="newsletter-title">Good emails.</p>
  
            <p class="newsletter-text">
              Enter your email below to be the first to know about new collections and product launches.
            </p>
  
            <form action="" class="newsletter-form">
              <input type="email" name="email_address" placeholder="Enter your email address" required
                class="email-field">
  
              <button type="submit" class="btn btn-primary">Subscribe</button>
            </form>
  
          </div>
  
        </div>
  
        <div class="footer-bottom">
  
          <div class="wrapper">
            <p class="copyright">
              &copy; 2022 codewithsadee
            </p>
  
            <ul class="social-list">
  
              <li>
                <a href="#" class="social-link">
                  <ion-icon name="logo-twitter"></ion-icon>
                </a>
              </li>
  
              <li>
                <a href="#" class="social-link">
                  <ion-icon name="logo-facebook"></ion-icon>
                </a>
              </li>
  
              <li>
                <a href="#" class="social-link">
                  <ion-icon name="logo-instagram"></ion-icon>
                </a>
              </li>
  
              <li>
                <a href="#" class="social-link">
                  <ion-icon name="logo-youtube"></ion-icon>
                </a>
              </li>
  
            </ul>
          </div>
  
          <a href="#" class="logo">
            <img src="./assets/images/logo.png" width="179" height="26" loading="lazy" alt="Glowing">
          </a>
  
          <img src="./assets/images/pay.png" width="313" height="28" alt="available all payment method" class="w-100">
  
        </div>
  
      </div>
    </footer>
  
  </ion-toolbar>

</ion-footer>
