




<ion-content>
  <div class="main-hero-section">
   <div class="hero-content">
    <h1>Get latest winter collections</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium voluptas corporis dicta reprehenderit nam ex similique quasi ipsam adipisci cumque.</p>
    <button class="btn btn-primary" routerLink="/shop">Shop Now</button>
   </div>


  </div>
  <ion-grid>
    <ion-row class="ion-align-items-center section-header-row">
      <ion-col>
        <ion-title class="ion-text-center">
          Our Super Categories
        </ion-title>
      </ion-col>
    </ion-row>

    <ion-row class="home-chips">
      
        <!-- Loop through the elementsArray and create ion-chips -->
        <ion-chip *ngFor="let element of data?.super_categories; let i = index"
                  [ngClass]="{'active': i === activeChipIndex}"
                  (click)="setActiveChip(i)">
          <ion-label>{{ element?.name }}</ion-label>
        </ion-chip>
     
      
    </ion-row>
    <ion-row class="categories-section-row">
      <div class="category-box" *ngFor="let element of data?.categories; let i = index">
        <img [src]="element?.image? element?.image:'../../assets/download.jpg'" alt="">
        <ion-label>{{ element?.name ? element?.name:'Testing Name' }}</ion-label>
      </div>
    </ion-row>
    <ion-row class="ion-align-items-center section-header-row">
      <ion-col>
        <ion-title class="ion-text-center">
          Category Related Items
        </ion-title>
      </ion-col>
    </ion-row>
    
    <ion-row class="items-section-row">
      <ng-container *ngFor="let product of items ; let i = index">
      <ion-col  class="single-item"  *ngIf="i<12">
       <div class="upper" >
        <img [src]="product?.image? product?.image:'../../assets/images.jpg'" alt="product?.name">
       </div>
       <div class="discount">
        -{{product?.discount_value}}%

       </div>
       <div class="lower">
        <p>Rs {{product?.price}}</p>
        <p>name {{product?.name}}</p>
        <p>tax {{product?.tac}}</p>
       </div>
      </ion-col>
    </ng-container>
    </ion-row>

    <ion-row class=" view-all-button">
      <ion-col class="btn-col-item">
        <ion-button class="btn btn-primary" >
          View All Products
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


 

