




<ion-content>
  <div class="main-hero-section">
   <div class="hero-content">
    <h1>Get latest winter collections</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium voluptas corporis dicta reprehenderit nam ex similique quasi ipsam adipisci cumque.</p>
    <button class="btn btn-primary" routerLink="/shop">Shop Now</button>
   </div>


  </div>
  <ion-grid>
    <ion-row class="ion-align-items-center section-header-row">
      <ion-col>
        <ion-title class="ion-text-center">
          Our Super Categories
        </ion-title>
      </ion-col>
    </ion-row>

    <ion-row class="home-chips">
      
        <!-- Loop through the elementsArray and create ion-chips -->
        <ion-chip *ngFor="let element of elementsArray; let i = index"
                  [ngClass]="{'active': i === activeChipIndex}"
                  (click)="setActiveChip(i)">
          <ion-label>{{ element }}</ion-label>
        </ion-chip>
     
      
    </ion-row>
    <ion-row class="categories-section-row">
      <div class="category-box" *ngFor="let element of elementsArray; let i = index">
        <img src="../../assets/download.jpg" alt="">
        <ion-label>{{ element }}</ion-label>
      </div>
    </ion-row>
    <ion-row class="ion-align-items-center section-header-row">
      <ion-col>
        <ion-title class="ion-text-center">
          Category Related Items
        </ion-title>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size="6" size-md="4" size-lg="3" *ngFor="let product of products">
        <ion-card>
          <ion-img src="../../assets/images/p1.png" alt="{{ product.name }}"></ion-img>
          <ion-card-header>
            <ion-card-title>fffffffff</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>
              Price: <ion-text color="primary"> Ring</ion-text>
            </p>
            <ion-badge color="success">New</ion-badge>
          </ion-card-content>
          <ion-button expand="full" >
            View Details
          </ion-button>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col>
        <ion-button expand="full" >
          View All Products
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


 

